body{
margin: 0;
padding: 0;
font-family: 'Nanum Gothic', sans-serif;
}

.up{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #e94560;
  opacity: 0.4;
  box-shadow: 10px 5px 10px black;
}

.top{
  background-image: url('images/sound.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
  height: 800px;
  color: white;
}

.wel{
  padding-top: 200px;
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
}

.web{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-weight: normal;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.25rem;
}

.content{
  height: 600px;
  background-image: url('images/front.png');
  background-size: cover;
  position: relative;
  padding-left: 100px
}

.biopics{
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  float: left;
  margin-right: 50px;
  padding-top: 100px;
  padding-left: 20px;
}

.BIOGRAPHY{
  font-size: 2.5rem;
  color: #e94560;
  font-family: 'Nanum Gothic', sans-serif;
  padding-top: 250px;
  margin-top: 0;
}

.pcontent{
  font-size: 1.25rem;
  color: white;
}


/*media design */
@media only screen and (max-width: 1300px) {
  body{
      margin: 0;
      font-family: 'Nanum Gothic', sans-serif;
    }

.biopics{
    height: 450px;
    max-width: 450px;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    padding-top: 100px;
  }
}


/*media design */
@media only screen and (max-width: 1200px) {
  body{
      margin: 0;
      font-family: 'Nanum Gothic', sans-serif;
    }
    .biopics{
        height: 400px;
        max-width: 400px;
        border-radius: 10px;
        float: left;
        margin-right: 30px;
        padding-top: 100px;
      }

      .content{
        height: 600px;
        background-image: url('images/front.png');
        background-size: cover;
        position: relative;
        padding-left: 50px
      }

      .pcontent{
        font-size: 1.125rem;
        color: white;
      }

    }


    @media only screen and (max-width: 1050px) {
      body{
          margin: 0;
          font-family: 'Nanum Gothic', sans-serif;
        }
        .biopics{
            height: 400px;
            max-width: 400px;
            border-radius: 10px;
            float: left;
            margin-right: 30px;
            padding-top: 100px;
          }

          .content{
            height: 600px;
            background-image: url('images/front.png');
            background-size: cover;
            position: relative;
            padding-left: 20px
          }

          .pcontent{
            font-size: 1.125rem;
            color: white;
          }

        }


        @media only screen and (max-width: 1020px) {
          body{
              margin: 0;
              font-family: 'Nanum Gothic', sans-serif;
            }
            .biopics{
                height: 400px;
                max-width: 400px;
                border-radius: 10px;
                float: left;
                margin-right: 30px;
                padding-top: 100px;
              }

              .content{
                height: 600px;
                background-image: url('images/front.png');
                background-size: cover;
                position: relative;
                padding-left: 10px
              }

              .pcontent{
                font-size: 1.125rem;
                color: white;
              }

            }


            @media only screen and (max-width: 1000px) {
              body{
                  margin: 0;
                  font-family: 'Nanum Gothic', sans-serif;
                }
                .biopics{
                    height: 350px;
                    max-width: 350px;
                    border-radius: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 100px;
                    padding-left: 0;
                    display: block;
                    float: none;
                  }

                  .content{
                    height: 800px;
                    background-image: url('images/front.png');
                    background-size: cover;
                    position: relative;
                    padding-left: 10px;
                    text-align: center;
                    align-items: center;
                  }

                  .pcontent{
                    font-size: 1.125rem;
                    color: white;
                  }

                  .BIOGRAPHY{
                    font-size: 2.5rem;
                    color: #e94560;
                    font-family: 'Nanum Gothic', sans-serif;
                    padding-top: 20px;
                    margin-top: 0;

                }
